body{
     
}


header img{
    width: 100px;
}

header {
   background: #ccc;
   padding: 10px;
}

.caja1{
    width: 940px;
    position: relative;
    margin: 0 auto;
    
}


nav{
    position: absolute;
    top: 50px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px ;
}

nav a{
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 18px ;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;

}


main{
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px auto;
}

form label , form p{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

.input-padron{
    display: block;  
    margin: 0 0 20px;
    padding: 8px 15px; 
    width: 50%;
}


.checkbox{
    margin: 20px 0;
}

footer{
    text-align: center;
    background: url(/sources/img/02img-infopage/beautiful-nature-g209bfd948_1280.jpg);
    height: 250px;
    
}



.copy{
    font-size: 15px;
    margin: 10px;
    color: black;
    

}


footer img{
    width: 100px;
    margin: 40px 0px 10px 0px;
    
    
}
