body{
     
}


header img{
    width: 100px;
}

header {
   background: #ccc;
   padding: 10px;
}

.caja1{
    width: 940px;
    position: relative;
    margin: 0 auto;
    
}


nav{
    position: absolute;
    top: 50px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px ;
}

nav a{
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 18px ;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;

}


main{
    width: 940px;
    margin: 0 auto;
}


.titulo{
    font-size: 25px;
    width: 100%;
    color: black;
    display:inline-block;
    font-weight: bold;
    padding: 30px 0 0 0;
    
}


form{
    margin: 40px auto;
}

form label , form legend{
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

legend{
    padding: 10px 0;
}


.input-padron{
    display: block;  
    margin: 0 0 20px;
    padding: 8px 15px; 
    width: 50%;
}

select{
    width: 40%;
    padding: 10px;    
}


.checkbox{
    margin: 20px 0;
}

.enviar{
    width: 40%;
    padding: 15px 0;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
}

.enviar:hover{
    background: rgb(255, 218, 7);
    transform: scale(1.2);
}



table{
    margin: 40px 5px;
}

thead{
    background: #555;
    color: white;
    font-weight: bold;
}

td, th{
    border: 1px solid #000;
    padding: 8px 10px;
    width: 30%;
}




footer{
    text-align: center;
    background: url(.././img/02img-infopage/beautiful-nature-g209bfd948_1280.jpg);
    height: 250px;
    
}



.copy{
    font-size: 15px;
    margin: 10px;
    color: black;
    

}


footer img{
    width: 100px;
    margin: 40px 0px 10px 0px;
    
    
}
