body{
     
}


header img{
    width: 100px;
}

header {
   background: #ccc;
   padding: 10px;
}

.caja1{
    width: 940px;
    position: relative;
    margin: 0 auto;
       
}


nav{
    position: absolute;
    top: 50px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px ;
}

nav a{
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 18px ;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;

}


.titulo{
    font-size: 25px;
    width: 100%;
    color: black;
    display:inline-block;
    font-weight: bold;
    padding: 30px 10px;
       
}

.barrio{
    width: 940px;
    margin: 0 auto;
    padding: 50px;
}

.barrio img{
    width: 150px;
}

.barrio li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    
}

.barrio li:hover {
    border-color: #c78c19;

}

.barrio li:active {
    border-color: green;
    
}

.barrio h2{
    font-size: 30px;
    margin-bottom: 20px ;
    font-weight: bold;
    
}

.barrio li:hover h2 {
    font-size: 40px;
    
}

.barrioDescripcion{
    font-size: 18px;
    margin: 20px auto;
}

.barrioItem{
    font-size: 25px;
    font-weight: bold;
    margin-top: 10px;
}

.barrio li:hover .barrioItem{
    font-size: 30px;
    text-decoration: underline;
}


.barrio li .barrioItem a{
    text-decoration: none;
    color: black;
    
}

footer{
    text-align: center;
    background: url(/sources/img/02img-infopage/beautiful-nature-g209bfd948_1280.jpg);
    height: 250px;
    
}



.copy{
    font-size: 15px;
    margin: 10px;
    color: black;
    

}


footer img{
    width: 100px;
    margin: 40px 0px 10px 0px;
    
    
}
