body{
    font-family: 'Montserrat', sans-serif;
}




header img{
    width: 100px;
}

header {
   background: #ccc;
   padding: 10px;
}

.caja1{
    width: 940px;
    position: relative;
    margin: 0 auto;
    
}


nav{
    position: absolute;
    top: 20px;
    right: 10px;
    padding: 10px 40px;
    
}

nav li{
    display: inline;
    margin: 0 0 0 15px ;
    padding: 10px 20px;
    background-color: #c78c19;
    

}

nav a{
    text-transform: uppercase;
    color: #000;
    font-weight: bold;
    font-size: 18px ;
    text-decoration: none;
}

nav a:hover{
    color: #fff;
    text-decoration: underline;

}






/*
header{
    background-color: #ccc;
    padding: 0.1px ;
    
}

header img{
    width: 140px;
    margin: 1px ;
    padding: 8px ;
    
}
*/



.imagenBanner{
    background: url(././sources/img/banner02.png);
    height: 350px;
}


#banner1{
    width: 100%;
    
}

.codigo{
    width: 15%;
    float: left;
    margin: 0 20px 20px 0;
}

.container1{
    padding: 0.5% 10% 3% 20%;
    background: #ccc;
    
}

.container1 p{
    margin: 0 0 1em;
    background: #ccc;
    width: 80%;
    
}

.container1 strong{
    font-weight: bold;
}

.container1 em{
    font-style: italic;

}

.tituloPrincipal {
    text-align: center;
    margin: 1em 0 1em;
    font-size: 2em;
    clear: left;
}

.mapaGoo{
    margin: 0 0 2em 0;
    text-align: center;
    
}

.mapaGoo{
    padding: 1em 0 2em 12%;

}

.mapaGoo p{
    margin: 0 0 2em 50%;
    text-align: center;
}

.tituloSecundario{
    text-align: center;
    margin: 1em 0 1em 50%;
    font-size: 30px;
    clear: left;
 

}

.mapaGoo{
    width: 50%;
}


p {
    text-align: center;
    
}


em strong {
    color: red ;
}

#historia{
    font-size: 18px;
}


.container2{
    background: #fff;
    padding: 0.6%  0% 0.6% 5%;
    background-color: #ccc;    
}


.container2 img{
        margin-bottom: 20px ;
        width: 500px;

}



.tituloZurdo{
    padding-left: 3%;
    text-align: center;
    margin: 50px auto;
    letter-spacing: 60px;
    
}


.items{
    font-size: 120%;
    padding: 15px 0 5px 10px;
    font-weight: bold;
    background-color: orange;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    margin: 15px 0 15px 50%;
    
    
}

.items a{
    text-decoration: none;
    color:black;
    margin: 20px auto;
        
    
}


.laterales {
    display: inline-block;
    vertical-align: top;
    width: 32%;
    margin-right: 5% ;
    
    
}

.video{
    width: 560px;
    margin: 2em auto ;

    
}


footer{
    
    text-align: center;
    background: url(././sources/img/02img-infopage/beautiful-nature-g209bfd948_1280.jpg);
    height: 250px;
    
    
}

.copy{
    font-size: 15px;
    margin: 10px;
    color: black;
    text-decoration: none;
    background-color: none;

}


footer img{
    width: 100px;
    margin: 40px 0px 10px 0px;
    
    
}